*
{   
    margin: 0px;
    padding: 0px;
}

body{
    font-family: sans-serif;
    background-color:white;
}

#header{
    width: 100%;
    height: 80px;
    background-color: #4F4844;
    
}



.navigation{
    width:660px;
    float: left;
    text-align: center;
    line-height: 5;
}


.navigation{
margin:20px;
padding:0;
line-height: 30px;
}



.navigation li{
margin: 0;
padding: 0;
list-style: none;
float: left;
position: relative;
    
}

.navigation li a{
    font-family: sans-serif;
text-align: center;
text-decoration:none;
height:30px;
width:150px;
display: block;
color:white;

}

ul li a:hover{
color: antiquewhite;
    background-color: black;
}
a:hover{
color: aqua;
}


.navigation ul {
position: absolute;
visibility: hidden;
top:30px;
background-color: #4F4844;

}

.navigation li:hover ul{
visibility: visible;
}

 nav li{
    display: inline;
    padding: 30px;
        
}

nav .links{
    text-decoration: none;
    color: azure;
    font-family: sans-serif;
}

#header_info{
    float: right;
    margin-top: 14px;
    color:antiquewhite;
    font-family:sans-serif;
    font-weight: bold;
    font-size: 13px;
    margin-right: 5px;
}

fieldset{

    width: 500px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color:rosybrown
}

legend{

    background-color:brown;
    color:azure;
    border-radius: 5px;
    padding: 5px;
    margin-left: 12px;
    font-family:cursive;
}

#list{
    list-style: none;
    margin: 15px;
    padding:15px;
    background-color:beige;
}

.input{
    width: 200px;
    margin: 10px;
}

label{

    display:inline-block;
    text-align: right;
    width:130px;
    font-family:cursive;
    color: darkgrey;
}

.button{
    background-color:sandybrown;
    color:snow;
    padding: 3px;
    margin-left: 90px;
    font-family:sans-serif;
}

#errormsg{
    margin-top: 30px;
    width: 500px;
    color: red;
    margin-left: auto;
    margin-right: auto;
}








